{% extends 'main/index.html' %}


{% block content %}
  <form method="POST" action="{% url 'main:register' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <h4>請勾選您感興趣的題材</h4>
      <label for="male"><input type="checkbox" id="male" name="gender" value="male"><span>Male</span></label>

      <label for="female"><input type="checkbox" id="female" name="gender" value="female"><span>Female</span></label>

      <label for="other"><input type="checkbox" id="other" name="gender" value="other"><span>Other</span></label>
      <br><br>
    <button class="btn" style="background-color: darkred; color:floralwhite" type="submit">Register</button>
  </form>
<br>
  If you already have an account, <a href="/login/"><strong>Login</strong></a> here.
{% endblock %}
